/**
 *
 * Present by Zapic @ 2020
 * https://github.com/KawaiiZapic/Present/
 *
 * Please DO NOT remove this copyright message, as the basic respect for original author.
 *
 */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-layer {
    position: fixed;
}

.loading-indicator, .fixed-layer, .self-avatar {
    top: 0;
    left: 0;
}

.text-center {
    text-align: center;
}

.avatar-name {
    opacity: 0;
}

.loading-indicator {
    z-index: 2;
    position: absolute;
}

.loading-indicator * {
    transform-origin: center;
}

.loading-indicator .circle-line {
    fill: none;
    stroke: #fb7299;
    stroke-width: 8;
    stroke-dasharray: 351;
    transform-origin: center center;
    animation: spinner-path 1s infinite;
}

.loading-indicator .circle-rotating {
    animation: spinner-rotate 2s linear infinite;
}

.loading-indicator .circle-step {
    animation: spinner-layer 4s steps(1) infinite;
}

.loading-mask {
    z-index: 1;
    width: 100%;
    height: 100%;
    background: white;
}

.loading-pre {
    opacity: 1;
    transition: .5s .5s;
    transform: translateY(0);
    transition-property: none;
}

.loading-wrapper {
    width: 128px;
    height: 128px;
    overflow: hidden;
    position: relative;
    border-radius: 64px;
}

.loading-text {
    z-index: 1;
    color: #666;
    height: 1.6em;
    display: block;
    line-height: 0;
    font-size: 3em;
    margin-left: 24px;
    user-select: none;
    position: relative;
    -ms-user-select: none;
}


.self-avatar {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    min-height: 270px;
}

.self-avatar .avatar-img {
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    object-position: center;
    transition-property: none;
    transform: translateY(32px);
}

@keyframes spinner-path {
    0% {
        transform: rotate(0);
        stroke-dashoffset: 345;
    }
    50% {
        transform: rotate(0);
        stroke-dashoffset: 81;
    }
    100% {
        stroke-dashoffset: 345;
        transform: rotate(270deg);

    }
}

@keyframes spinner-layer {
    0% {
        transform: rotate(360deg);
    }
    25% {
        transform: rotate(270deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes spinner-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 750px) {
    .loading-indicator {
        transform: scale(.75);
        transform-origin: top left;
    }

    .loading-text {
        margin-left: 0;
    }

    .loading-wrapper {
        width: 96px;
        height: 96px;
    }

    .self-avatar {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    body, .loading-mask {
        background-color: #333;
    }
    .loading-text {
        color: #ddd;
    }
    .loading-indicator .circle-line {
        stroke: #fb7299;
    }
}